<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %> <!-- '-'import/include other file to this file, like vue.js components-->

        <div class="testing"></div>


        <div class="defects content">
            <h2><%= title %></h2>
            <p>May place some introduction here</p>

            <% if (defects.length > 0) { %>
                <% defects.forEach(defect => { %> <! -- '=' will be need if the value is used to output  t-->
                    <a class="single" href="<%= defect._id %>">
                    <h3 class="title"> <%= defect.title %></h3>
                    <p class="snippet"> <%= defect.snippet %></p>
                    <p class="date"> <%= defect.date %></p>
                    <p class="image"> <%= defect.img %></p>
                    </a>
                <%   }) %>
            <% } else { %>
                <p>There is no defect to display</p>
            <% } %>
        </div>

        <%- include('./partials/footer.ejs') %>

    </body>
</html>

<script>
        var d = new Date();
        document.getElementsByClassName("testing")[0].innerHTML = d; //create date
        console.log('Go to window develop tool please')

</script>